[BUG][csharp] DateOnly parameter output in incorrect format

#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [x] Have you searched for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Sponsorship to speed up the bug fix or feature request ([example](https://github.com/OpenAPITools/openapi-generator/issues/6178))

<!--
Please follow the issue template below for bug reports.
Also please indicate in the issue title which language/library is concerned. Eg:  [BUG][JAVA] Bug generating foo with bar 
-->

##### Description
The OpenApi specification indicates that for date strings we should use the full-date notation defined by RFC 3339, section 5.6. We do this correctly when we don't use DateOnly objects. However, DateOnly objects aren't handled correctly in the ParameterToString method in ClientUtils.cs (it actually isn't handled at all). This causes the string to be output in the format MM-dd-yyyy instead of yyyy-MM-dd as expected.

##### openapi-generator version
7.8.0

##### OpenAPI declaration file content or url
```yaml
openapi: '3.0.0'
info:
  title: Example DateOnly Failure
  version: '0.1'
paths:
  /log:
    get:
      parameters:
        - name: log_date
          in: query
          required: true
          schema:
            description: Date time string in format 'yyyy-MM-dd'
            type: string
            format: date
      responses:
        '200':
          description: The log payload
```

##### Generation Details
```
{
    "targetFramework": "net8.0",
    "nullableReferenceTypes": true,
    "optionalEmitDefaultValues": true,
    "equatable": true,
    "netCoreProjectFile": true,
    "useDateTimeForDate": false
}
```

##### Related issues/PRs

<!-- has a similar issue/PR been reported/opened before? Please do a search in https://github.com/openapitools/openapi-generator/issues?utf8=%E2%9C%93&q=is%3Aissue%20 -->

##### Suggest a fix
I'm going to upload a PR adding the following section to `ParameterToString`.

```
if (obj is DateOnly dateOnly)
        // Return a formatted date string - Can be customized with Configuration.DateTimeFormat
        // Defaults to an ISO 8601, using the known as a Round-trip date/time pattern ("o")
        // https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Anchor_8
        // For example: 2009-06-15
        return dateOnly.ToString((configuration ?? GlobalConfiguration.Instance).DateTimeFormat);
```

This causes the string to be output in the correct format by default.


@alec-petersen pls assign this to me. I want to work on this. Have good amount of experience in java