[BUG] Kotlin server does not escape special character ('$') in jackson annotation

#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apitools.dev/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [x] Have you searched for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Sponsorship to speed up the bug fix or feature request ([example](https://github.com/OpenAPITools/openapi-generator/issues/6178))

<!--
Please follow the issue template below for bug reports.
Also please indicate in the issue title which language/library is concerned. Eg:  [BUG][JAVA] Bug generating foo with bar 
-->

##### Description

The given schema component with a special character in a property name.

(Example: "Group" schema from [SCIM](https://datatracker.ietf.org/doc/html/rfc7643#section-4.2))

Using the kotlin server generator with jackson serializer generates invalid code

```
data class BaseGroupMembersInner (

    /* The `id` of the member.  Each value MUST be the `id` of the corresponding `User` resource, which is unique across the service provider's entire set of resources.  */

    @JsonProperty("value")
    val `value`: java.util.UUID,

    /* The URI of the corresponding `User` resource.  Nullable for requests but required for responses.  */

    @JsonProperty("$ref")
    val dollarRef: kotlin.String? = null

)
```

It should escape the special character (`$`)

`@JsonProperty("\$ref")`

##### openapi-generator version


`7.11.0`

##### OpenAPI declaration file content or url

```yaml
openapi: 3.1.0

info:
  version: 5.0.5
  title: Internal Users SCIM
  description: ...
tags:
  - name: Groups
    description: ...

paths:
  /v3/internal/scim/Groups/{id}:
    get:
      summary: 'Get group by id'
      description: ...
      externalDocs:
        url: 'https://datatracker.ietf.org/doc/html/rfc7644#section-3.2'
        description: 'RFC 7644, Section 3.2'
      operationId: getGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/GroupIdInPath'
      responses:
        '200':
          description: Successful response
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Group'
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

components:
  parameters:
    GroupIdInPath:
      name: id
      in: path
      description: |
        The unique identifier of a group
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    Meta:
      type: object
      description: |
        A complex attribute containing resource metadata. All `meta`
        sub-attributes are assigned by the service provider (have a
        `mutability` of `readOnly`), and all of these sub-attributes have
        a `returned` characteristic of `default`. This attribute SHALL be
        ignored when provided by clients.
      externalDocs:
        url: 'https://datatracker.ietf.org/doc/html/rfc7643#section-3.1'
        description: 'RFC 7643, Section 3.1'
      properties:
        resourceType:
          type: string
          description: |
            The name of the resource type of the resource.  This
            attribute has a mutability of `readOnly` and `caseExact` as
            `true`.
          examples:
            - 'ResourceType'
        created:
          type: string
          format: date-time
          description: |
            The `DateTime` that the resource was added to the service
            provider. This attribute MUST be a DateTime.
          examples:
            - '2024-07-21T17:32:28Z'
        lastModified:
          type: string
          format: date-time
          description: |
            The most recent DateTime that the details of this
            resource were updated at the service provider. If this
            resource has never been modified since its initial creation,
            the value MUST be the same as the value of `created`.
          examples:
            - '2024-07-21T17:32:28Z'
        location:
          type: string
          description: |
            The URI of the resource being returned.  This value MUST
            be the same as the `Content-Location` HTTP response header (see
            Section 3.1.4.2 of [RFC7231]).
          examples:
            - 'https://example.com/v2/ResourceTypes/User'
        version:
          type: string
          description: |
            The version of the resource being returned.  This value
            must be the same as the entity-tag (ETag) HTTP response header
            (see Sections 2.1 and 2.3 of [RFC7232]).  This attribute has
            `caseExact` as `true`.  Service provider support for this
            attribute is optional and subject to the service provider's
            support for versioning (see Section 3.14 of [RFC7644]).  If a
            service provider provides `version` (entity-tag) for a
            representation and the generation of that entity-tag does not
            satisfy all of the characteristics of a strong validator (see
            Section 2.1 of [RFC7232]), then the origin server MUST mark the
            `version` (entity-tag) as weak by prefixing its opaque value
            with `W/` (case sensitive).
          examples:
            - 'W/"3694e05e9dff591"'
    BaseGroup:
      type: object
      description: ...
      externalDocs:
        url: 'https://datatracker.ietf.org/doc/html/rfc7643#section-4'
        description: 'RFC 7643, Section 4'
      required:
        - members
      properties:
        members:
          type: array
          description: ...
          items:
            type: object
            required:
              - value
            properties:
              value:
                type: string
                format: uuid
                description: ...
              $ref:
                type:
                  - "string"
                  - "null"
                description: ...
          default: [ ] # default is for `PUT` request
    Group:
      type: object
      description: ...
      externalDocs:
        url: 'https://datatracker.ietf.org/doc/html/rfc7643#section-4'
        description: 'RFC 7643, Section 4'
      required:
        - schemas
        - id
        - displayName
        - members
      allOf:
        - type: object
          properties:
            schemas:
              type: array
              description: ...
              items:
                type: string
            id:
              type: string
              format: uuid
              readOnly: true
              description: ...
            displayName:
              type: string
              readOnly: true
              description: ...
        - $ref: '#/components/schemas/BaseGroup'
```

##### Generation Details

Gradle configuration
```kotlin
openApiGenerate {
    generatorName = "kotlin"
    inputSpec = "${rootProject.projectDir}/.toast/schemas/internal-scim-api.yaml"
    outputDir = "${getLayout().buildDirectory.get()}/generated/openapi"
    modelPackage = "com.toasttab.service.users.v3.internal.scim.models"
    additionalProperties.putAll(
        mapOf(
            "serializationLibrary" to "jackson",
            "collectionType" to "list",
            "enumPropertyNaming" to "UPPERCASE"
        )
    )
    configOptions = mapOf(
        "identifierNamingConvention" to "original"
    )
}
```

##### Steps to reproduce

1. Define a schema wit a property name of `$ref`
2. Configure opernapi generator with `generatorName = "kotlin"` AND ` "serializationLibrary" to "jackson",`
3. Attempt to generate server side code

##### Related issues/PRs


##### Suggest a fix



Good Day, @jasonfagerberg-toast ,
Please can you confirm if you're using `kotlin-server` or the client version, `kotlin`?
Also, I tried with version 7.11 on my end with `kotlin` and it generated a backslash as expected
```
data class BaseGroupMembersInner (

    /* ... */
    @get:JsonProperty("value")
    val `value`: java.util.UUID,

    /* ... */
    @get:JsonProperty("\$ref")
    val dollarRef: kotlin.String? = null

) {
```

@jasonfagerberg-toast , I see there's no Jackson in the [`kotlin-server`](https://openapi-generator.tech/docs/generators/kotlin-server/) generator, and so there's no `$ref` in an annotation, either, please can you confirm if there's still an issue with your use case?
```kotlin
@Serializable
data class BaseGroupMembersInner(
    /* ... */
    val `value`: java.util.UUID,
    /* ... */
    val dollarRef: kotlin.String? = null
)
```

@DavidGrath so sorry for the confusion! It seems that the `serializationLibrary` doesn't seem to be needed at all, however `jaxrs-spec` does seem to need jackson


https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/data_class.mustache

@jasonfagerberg-toast Thank you! So sorry I missed that, I actually didn't specify JAXRS so it defaulted to Ktor.
I found out that there's a lambda called `escapeDollar` that seems to be for this specific issue. It was already used in the `kotlin-client` api files:
https://github.com/OpenAPITools/openapi-generator/blob/3c664d1a59717a3ba7e56c3584b8b2648b347bbf/modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache#L202
So maybe it was just overlooked
Although `kotlin-client` by itself uses a different solution to this issue with a vendor extension:
https://github.com/OpenAPITools/openapi-generator/blob/3c664d1a59717a3ba7e56c3584b8b2648b347bbf/modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache#L12
And that vendor extension apparently does the exact same thing:
https://github.com/OpenAPITools/openapi-generator/blob/3c664d1a59717a3ba7e56c3584b8b2648b347bbf/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java#L926
I'll run the necessary tests and make a PR soon



@e5l  Good Day, I see you're on the technical committee for Kotlin, so I wanted to add you to this discussion
I found out that this issue of dollar escape not being used actually extends to other files in the `kotlin-server` and `kotlin-client` folders:

![Image](https://github.com/user-attachments/assets/9d57e2c8-e8cd-4dd4-82a7-82be2ba715d1)

For example, with `kotlin-server` and `javalin5`:
```kotlin
package com.toasttab.service.scim.models


/**
 *
 * @param `value` ...
 * @param dollarRef ...
 */
data class BaseGroupMembersInner(
    /* ... */

    @field:com.fasterxml.jackson.annotation.JsonProperty("value")
    val `value`: java.util.UUID,
    /* ... */

    @field:com.fasterxml.jackson.annotation.JsonProperty("$ref")
    val dollarRef: kotlin.String? = null
)
```

I plan to wrap all usages of `baseName` with the `escapeDollar` lambda within these folders
Do you have any thoughts on this?

@4brunu , please what are  your thoughts?

@jasonfagerberg-toast it's fixed now