[BUG][Dart] Basic and Bearer auth interceptors incorrect scheme string value case

#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [x] Have you searched for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Sponsorship to speed up the bug fix or feature request ([example](https://github.com/OpenAPITools/openapi-generator/issues/6178))

##### Description

The [OpenAPI specification](https://swagger.io/specification/#security-scheme-object) defines the "scheme" property as:

> The name of the HTTP Authorization scheme to be used in the [Authorization header as defined in RFC7235](https://tools.ietf.org/html/rfc7235#section-5.1). The values used SHOULD be registered in the [IANA Authentication Scheme registry](https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml).

According to [RFC7235](https://datatracker.ietf.org/doc/html/rfc7235#section-2.1) the name of the HTTP Authorization scheme must be a case-insensitive token:

> It uses a *case-insensitive token* as a means to identify the authentication scheme, followed by additional information necessary for achieving authentication via that scheme.

[RFC7617 - Basic Auth](https://www.rfc-editor.org/rfc/rfc7617.html#section-2) also agrees that the scheme must be case-insensitive token: 

> Note that both scheme and parameter names are matched case-insensitively.

[RFC6750 - Bearer Auth](https://www.rfc-editor.org/rfc/rfc6750#section-1.1) is contradicting because:

> Unless otherwise noted, all the protocol parameter names and values are case sensitive.

[and it also defines it as "Bearer"](https://www.rfc-editor.org/rfc/rfc6750#section-6.1.1).

The [BasicAuthInterceptor](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/dart/libraries/dio/auth/basic_auth.mustache#L22) and [BearerAuthInterceptor](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/dart/libraries/dio/auth/bearer_auth.mustache#L13) only compare with "basic" and "bearer" which is against the specification and does not work for example when the OpenAPI specification was generated by Smithy.

##### openapi-generator version

openapi-generator-cli-7.0.1.jar

##### OpenAPI declaration file content or url


```json
{
  "openapi": "3.0.2",
  "info": {
    "title": "Sample",
    "version": "1.0.0"
  },
  "paths": {
    "/hello": {
      "get": {
        "operationId": "Hello",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hello 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "greeting": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Name": {
        "type": "string"
      },
      "HelloResponseContent": {
        "type": "object",
        "properties": {
          "greeting": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "smithy.api.httpBearerAuth": {
        "type": "http",
        "description": "HTTP Bearer authentication",
        "scheme": "Bearer"
      }
    }
  },
  "security": [
    {
      "smithy.api.httpBearerAuth": []
    }
  ]
}
```

##### Generation Details
##### Steps to reproduce
##### Related issues/PRs
##### Suggest a fix

In order to compare the strings in a case-insensitive manner, make sure that both values are in lowercase.