[BUG][NODEJS-EXPRESS] collectRequestParams case sensitive comparison missing parameter on nodejs-express

#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-enum-type-that-is-used-with-ref))

##### Description
I am generating my node-express stub and requesting my endpoints which **require** a _**Host**_ header to be preset.

My request looks like

```http
GET http://localhost:8081/meta
accept: application/json
Host: malbork.localhost
```
[MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host) and [RFC 7230, section 5.4: Host](https://tools.ietf.org/html/rfc7230#section-5.4) make me understand that the header name is capitalized.

The problem is that `collectRequestParams` method is using index access with `param.name` which holds **Host** value while `request.headers` contains **host** value.

```js
  static collectRequestParams(request) {
    const requestParams = {};
...
    request.openapi.schema.parameters.forEach((param) => {
      if (param.in === 'path') {
        requestParams[param.name] = request.openapi.pathParams[param.name];
      } else if (param.in === 'query') {
        requestParams[param.name] = request.query[param.name];
      } else if (param.in === 'header') {
        requestParams[param.name] = request.headers[param.name];
      }
    });
    return requestParams;
  }
```

##### openapi-generator version

`1.0.13-4.3.1`

##### OpenAPI declaration file content or url


```yaml
openapi: 3.0.3
...
paths:
  /profile:
    parameters:
      - $ref: '#/components/parameters/HostHeader'
    get:
      responses:
        '200':
          description: OK
...
components:
  parameters:
    HostHeader:
      in: header
      name: Host
      required: true
      schema:
        type: string
```

##### Command line used for generation

```bash
npx openapi-generator generate -i openapi.yaml -g nodejs-express-server -o ./fake-api
```

##### Steps to reproduce

- Generate the api having an endpoint with the header requirement defined in the yaml file
- Make a post with the `Host` header with a capital letter
- The generated `collectRequestParams({headers})` is receiving all headers with initial lower case letter (host instead of Host)


##### Suggest a fix

I don't know about how `express` works, so I guess it is not respecting the headers RFCs and converting everything to small case?
I tried just using 
```js
requestParams[param.name] = request.headers[param.name.toLowerCase()];
```
but another problem will emerge down the line. On my generated controller/services, they're expecting a `host` variable, but then a `Host` would be available.

So I changed to 

```js
requestParams[param.name.toLowerCase()] = request.headers[param.name.toLowerCase()];
```
and it seemed to work, but I don't know if other places would be compromised by it. My use case is very simple and I don't have much experience yet with OpenApi and the generator.

This is a very challenging unfortunately. The Authorization header is nearly always capital 'A'. Will try the work around suggested above. Thanks @rulrok 