[BUG][Java][jersey2] Date header should be in GMT format, but it has timezone information

#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-enum-type-that-is-used-with-ref))

<!--
Please follow the issue template below for bug reports.
Also please indicate in the issue title which language/library is concerned. Eg:  [BUG][JAVA] Bug generating foo with bar 
-->

##### Description

The java jersey2 library is incorrectly setting the `Date` header. The date format should be compliant with RFC 7231, which states the time must be set to GMT.

According to [RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.2), the "Date" header field represents the date and time at which the message was originated. The field value is an HTTP-date, as defined in Section [7.1.1.1](https://tools.ietf.org/html/rfc7231#section-7.1.1.1). The preferred format is a fixed-length and single-zone subset of the date and time specification used by the Internet Message Format.
```
IMF-fixdate  = day-name "," SP date1 SP time-of-day SP GMT
```

For example, the jersey2 library sets the `Date` header to `Mon, 13 Jul 2020 09:47:14 PDT`.
Expected Output: `Mon, 13 Jul 2020 17:47:14 GMT`
Instead, getting: `Mon, 13 Jul 2020 09:47:14 PDT`

~~The date format is set to RFC3339 by default in the generated [ApiClient.java](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache#L184). This is the right default value for serialized dates in the HTTP body, but the `Date` header should be compliant with RFC 7231 format, which is RFC1123.~~

##### openapi-generator version

master July 13 2020

##### OpenAPI declaration file content or url

There is no applicable OpenAPI document. This is a problem setting the value of the `Date` HTTP header.

##### Command line used for generation

<!-- including the language, libraries and various options -->

##### Steps to reproduce

<!-- unambiguous set of steps to reproduce the bug.-->

##### Related issues/PRs

<!-- has a similar issue/PR been reported/opened before? Please do a search in https://github.com/openapitools/openapi-generator/issues?utf8=%E2%9C%93&q=is%3Aissue%20 -->

##### Suggest a fix

<!-- if you can't fix the bug yourself, perhaps you can point to what might be
  causing the problem (line of code or commit), or simply make a suggestion -->

The bug is here:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/HttpSignatureAuth.mustache#L239
