[BUG] Spring generator: Incorrect import if spec contains a schema named schema

#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [ ] Have you searched for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Sponsorship to speed up the bug fix or feature request ([example](https://github.com/OpenAPITools/openapi-generator/issues/6178))

<!--
Please follow the issue template below for bug reports.
Also please indicate in the issue title which language/library is concerned. Eg:  [BUG][JAVA] Bug generating foo with bar 
-->

##### Description

Incorrect import statement when the specfile contains a schema object inside schemas.

`    
Schemas:
  Schema:
        allOf:
          - $ref: '#/components/schemas/Resource'
        title: Schema
        properties:
          id:
            type: string
            readOnly: true
          name:
            type: string
            readOnly: true
          description:
            type: string
            readOnly: true
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/Attribute'
            readOnly: true`
            
           
Result: 

`  
import io.swagger.v3.oas.annotations.media.Schema;

  @ResponseStatus(HttpStatus.OK)
    Schema getSchema(
         @PathVariable("id") String id
    );`


Incorrect import default to io.swagger.v3.oas.annotations.media.Schema
##### openapi-generator version

Version: 7.0.0

##### OpenAPI declaration file content or url

<!-- if it is a bug, a json or yaml that produces it.
If you post the code inline, please wrap it with
```yaml
openapi: 3.0.3

info:
  title: API
  version: 1.0.0
  description: bla bla
paths:
  /Schemas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - test
      summary: Get schema
      operationId: getSchema
      responses:
        200:
          description: Schema found.
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Schema'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    filter:
      name: filter
      in: query
      description: The filter string used to request a subset of resources.
      required: false
      schema:
        type: string
    resourceId:
      name: id
      description: Unique resource identifier.
      in: path
      required: true
      schema:
        type: string
    startIndex:
      name: startIndex
      description: >-
        The 1-based index of the first query result.
        Default value is 1.
      in: query
      required: false
      schema:
        type: integer
    count:
      name: count
      description: >-
        Non-negative integer. Specifies the desired maximum number of query
        results per page. If not specified a default value will be applied, e.g., 10.
        A negative value is interpreted as "0". A value of "0" indicates that no
        resource results are to be returned except for "totalResults".
      in: query
      required: false
      schema:
        type: integer
    sortBy:
      name: sortBy
      description: >-
        The "sortBy" parameter specifies the attribute whose value
        will be used to order the returned responses.
      in: query
      required: false
      schema:
        type: string
    sortOrder:
      name: sortOrder
      description: >-
        The order in which the "sortBy" parameter is applied.
        Allowed values are "ascending" and "descending".  If a value for
        "sortBy" is provided and no "sortOrder" is specified, "sortOrder"
        will default to ascending.
      in: query
      required: false
      schema:
        type: string
        enum:
          - ascending
          - descending
    includedAttributes:
      name: attributes
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    excludedAttributes:
      name: excludedAttributes
      in: query
      style: form
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
  responses:
    BadRequest:
      description: Request is unparsable, syntactically incorrect, or violates schema.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/BadRequest'
    Unauthorized:
      description: Authorization failure. The authorization header is invalid or missing.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: You don't have permission to access this resource.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Specified resource (e.g., User) or endpoint does not exist.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotImplemented:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      title: Error
      properties:
        schemas:
          type: array
          items:
            type: string
            format: uri
        status:
          type: string
          description: The HTTP status code expressed as a JSON string.
        scimType:
          type: string
          description: A SCIM detail error keyword.
        detail:
          type: string
          description: A detailed human-readable message.
    BadRequest:
      type: object
      title: Bad request
      allOf:
        - $ref: '#/components/schemas/Error'
      properties:
        scimType:
          enum:
            - invalidFilter
    Resource:
      type: object
      title: Resource
      description: A SCIM Resource as specified in section 3 of RFC 7643.
      properties:
        schemas:
          type: array
          items:
            type: string
            format: uri
        id:
          type: string
          readOnly: true
        meta:
          $ref: '#/components/schemas/ResourceMetadata'
      required:
        - id
    ResourceMetadata:
      type: object
      title: ResourceMetadata
      description: A complex attribute containing resource metadata.
      properties:
        resourceType:
          description: The name of the resource type of the resource.
          type: string
          readOnly: true
        created:
          description: The `DateTime` that the resource was added to the service provider.
          type: string
          format: date-time
          readOnly: true
        lastModified:
          type: string
          format: date-time
          readOnly: true
        location:
          type: string
          format: uri
          readOnly: true
        version:
          type: string
          readOnly: true
    Schema:
      allOf:
        - $ref: '#/components/schemas/Resource'
      title: Schema
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
          readOnly: true
    Attribute:
      type: object
      title: Attribute
      properties:
        name:
          type: string
          readOnly: true
        type:
          type: string
          enum:
            - string
            - boolean
            - decimal
            - integer
            - dateTime
            - binary
            - reference
            - complex
          readOnly: true
        subAttributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
          readOnly: true
        multiValued:
          type: boolean
          readOnly: true
        description:
          type: string
          readOnly: true
        required:
          description: >-
            A Boolean value that specifies whether or not the
            attribute is required.
          type: boolean
          readOnly: true
        canonicalValues:
          description: >-
            A collection of suggested canonical values that
            MAY be used (e.g., "work" and "home").
          type: array
          items:
            type: string
          readOnly: true
        caseExact:
          description: >-
            A Boolean value that specifies whether or not a string
            attribute is case sensitive.
          type: boolean
          readOnly: true
        mutability:
          description: >-
            A single keyword indicating the circumstances under
            which the value of the attribute can be (re)defined.
          type: string
          enum:
            - readOnly
            - readWrite
            - immutable
            - writeOnly
          readOnly: true
        returned:
          description: >-
            A single keyword that indicates when an attribute and
            associated values are returned in a response.
          type: string
          enum:
            - always
            - never
            - default
            - request
          readOnly: true
        uniqueness:
          description: >-
            A single keyword value that specifies how the service
            provider enforces uniqueness of attribute values.
          type: string
          enum:
            - none
            - server
            - global
          readOnly: true
        referenceTypes:
          description: >-
            A multi-valued array of JSON strings that indicate the
            SCIM resource types that may be referenced.
          type: array
          items:
            type: string
            readOnly: true
```
(for YAML code) 

##### Generation Details
Generator: spring
Library: spring-boot, spring-cloud
##### Steps to reproduce

Generate using specfile



Any update on this issue? It looks to be some form of post-processing after the code is generated. 

https://github.com/OpenAPITools/openapi-generator/blob/77687a8ea59f97519731f345308d3615e2f6e500/modules/openapi-generator/src/main/resources/JavaSpring/model.mustache#L31

Looking at the code snippet it should be removed if the swagger2 annotation is disabled